* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  --bg-primary: #5429ff;

  --text-title-color: #344054;
  --text-p-color: #667085;

  --height-input: 44px;
  --border-radius-input: 8px;
}

label,
body {
  background: #fff;
  font-family: "Inter", sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 100vh;

  padding: 1rem;
}

.container .banner__login {
  width: 60%;

  background-color: #cbcce8;
  background-image: url(../img/DRIP_20.png);
  background-size: 75%;
  background-position: center;
  border-radius: 40px;

  background-repeat: no-repeat;
}

.container .form__login {
  width: 45%;
  align-items: center;
  justify-content: flex-end;

  display: flex;
  flex-direction: column;
}

.container .form__login .logo {
  display: flex;
  width: 100%;
}

.container .form__nft__access {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  width: 60%;

  height: 100%;
}

.container .form__nft__access form {
  width: 100%;
}

.container .form__nft__access .content__title {
  margin-bottom: 3rem;
}

.container .form__nft__access .content__title h2 {
  font-size: 2.2rem;
  color: var(--text-title-color);
  font-weight: 700;

  margin-bottom: 0.6rem;
}

.container .form__nft__access .content__title p {
  color: var(--text-p-color);
  text-align: left;
}

form {
  width: 50%;
}

.container .form__nft__access form label {
  color: var(--text-title-color);
}

.container .form__nft__access form .form__control {
  margin-top: 1rem;
}

.container .form__nft__access form .input__button {
  border: 1px solid #d0d5dd;
  border-radius: var(--border-radius-input);

  display: flex;
  justify-content: space-between;

  height: var(--height-input);
  margin-top: 0.5rem;
}

.container .form__nft__access form .input__button input {
  width: 90%;
  background: none;
  border: 0;

  padding-inline: 1rem;
}

.container .form__nft__access form .input__button button {
  width: 10%;

  border: 0;
  background: none;
}

.container .form__nft__access form .form__control input[type="submit"] {
  width: 100%;
  background: var(--bg-primary);
  height: var(--height-input);

  border-radius: var(--border-radius-input);
  border: 0;

  color: white;
}

.container .form__nft__access form .form__control__remember {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.container .form__nft__access form .form__control__remember a {
  text-decoration: none;
  color: #5429ff;
}

.form__nft__access .form__control a {
  border: 1px solid #d0d5dd;

  display: flex;
  height: var(--height-input);
  border-radius: var(--border-radius-input);

  justify-content: center;
  align-items: center;

  color: var(--text-title-color);

  text-decoration: none;
  gap: 0.5rem;

  margin-bottom: 1rem;
}

.form__nft__access p {
  text-align: center;
}

.form__nft__access p a {
  text-decoration: none;
  color: var(--bg-primary);
}

.mobile__logo {
  display: none;
}

@media (max-width: 760px) {
  .banner__login {
    display: none;
  }

  .container .form__login {
    width: 100%;
  }

  form {
    width: 100%;
  }

  .container .form__nft__access {
    width: 100%;
  }

  .container .form__login .logo {
    display: none;
  }

  .container .form__login .mobile__logo {
    display: flex;

    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
  }

  .container .form__login .mobile__logo svg {
    width: 240px;
    height: 100px;
  }
}

@media (max-width: 960px) and (min-width: 760px) {
  body {
    background: red;
  }
}
