* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  background: #fcfdff;
  font-family: "Inter", sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 100vh;

  padding: 1rem;
}

.container .banner__login {
  width: 60%;

  background-color: #cbcce8;
  background-image: url(../img/DRIP_20.png);
  background-size: 75%;
  background-position: center;
  border-radius: 40px;

  background-repeat: no-repeat;
}

.container .form__login {
  width: 45%;
  align-items: center;

  display: flex;
  flex-direction: column;
}

.container .form__login .logo {
  display: flex;
  width: 100%;
}

.container .form__nft__access {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  width: 60%;

  height: 80%;
}

.container .form__nft__access form {
  width: 100%;
}

.content__title {
  background: red;
}

form {
  width: 50%;
  background: red;
}
